html, body
  margin: 0
  padding: 0
  height: 100%
  font: 16px / 1.5 Helvetica, Arial, sans-serif

h1
  font-size: 1.75em
  line-height: 1
  margin-bottom: 1em
  border-bottom: 1px solid #dddddd

h2
  font-size: 1.25em
  line-height: 1
  background: #B1D3D2
  margin-bottom: .75em

iframe
  position: absolute
  bottom: 10px
  height: 416px
  width: 320px
  right: 10px
  z-index: 2

input
  margin: 0

.hidden
  display: none