.sidebar
  width: 19em
  background-color: #fafafa
  border-right: 2px solid #dddddd
  color: #555555
  padding: 1em 2em
  position: relative
  height: 100%
  float: left

  section
    margin-top: 1em

  label
    display: inline-block
    margin-top: 1em
    font-weight: 700

  input
    &[type="text"]
      background: white
      border: 1px solid #dddddd
      padding: 6px 2px 3px
      margin-bottom: .25em
      font-family: inherit
      font-size: inherit

    &[type="range"]
      width: 100%

  .button
    position: relative
    display: inline-block
    min-width: 50px

    background-color: #51908E
    border: 1px solid #3d7270

    font-family: inherit
    font-size: inherit
    text-align: center
    color: white
    text-decoration: none

    padding: 6px 2px 3px
    margin: 0

    &:active
      background-color: #e65440
      border-color: #a53c2e
    &.cancel
      background-color: #e65440
      border-color: #a53c2e