html
  head
    link(href="remote/styles/client.css", rel='stylesheet')

  body

    // button: get position
    button.get-current-position getCurrentPosition

    // button: continiously get position
    button.watch-position watchPosition

    // div: position json