html
  head
    style
      body {
          background: #fff;
          font: helvetica;
      }

      button {
        background: #ddd;
        border: 1px solid #999;
      }

  body

    // button: get position
    button.get-current-position(onclick="testGetCurrentPosition()") getCurrentPosition

    // button: continiously get position
    button.get-position(onclick="testWatchPosition()") watchPosition

    // div: position json
    #log
    #position

  script
    var positionDiv = document.getElementById('position'),
      logDiv = document.getElementById('log'),
      watchId = '';

    testGetCurrentPosition = function() {
      console.log('calling getCurrentPosition');
      navigator.geolocation.getCurrentPosition(success, error);
    }

    testWatchPosition = function() {

      if (watchId != '') {
        navigator.geolocation.clearWatch(watchId);
        watchId = '';

        console.log('watchId cleared')
      } else {
        watchId = navigator.geolocation.watchPosition(success, error);
        console.log('watchId: ' + watchId);
      }

    }

    success = function(position) {
      updatePosition(position);
    }

    error = function(error) {
      console.log('error')
      updatePosition(error)
    }

    updatePosition = function(position) {
      positionDiv.innerHTML = JSON.stringify(position);
    }

    konsole = console;

    console = {
      log: function(log) {
        logDiv.innerHTML = JSON.stringify(log) + new Date();
        konsole.log(log)
      }
    }