html
  head
    style
      body {
        background: #fff;
        font-family: helvetica;
      }

      button {
        position: relative;
        display: inline-block;
        min-width: 50px;
        background-color: #51908E;
        border: 1px solid #3d7270;
        font-family: inherit;
        font-size: inherit;
        font-weight: 400;
        text-align: center;
        color: white;
        text-decoration: none;
        padding: 6px 4px 3px;
        margin: 0;
      }

      button:active {
        background-color: #e65440;
        border-color: #a53c2e;
      }

  body

    // button: get position
    button.get-current-position getCurrentPosition

    // button: continiously get position
    button.watch-position watchPosition

    // div: position json
    #log
    #position
    #error
    #online