* {
  box-sizing: border-box;
}

html, body, #map {
  margin: 0;
  padding: 0;
  height: 100%;
  font: 16px/19px Helvetica, Arial, sans-serif;
}

#controls {
  background-color: #fafafa;
  border-right: 2px solid #ddd;
  color: #555;

  padding: 1em;
  overflow: hidden;

  position: relative;
  height: 100%;
  width: 17em;
  float: left;

  -webkit-transition: width 0.4s ease-out;
  -moz-transition: width 0.4s ease-out;
  -ms-transition: width 0.4s ease-out;
  -o-transition: width 0.4s ease-out;
  transition: width 0.4s ease-out;
}

#controls.hidden {
  width: 0px;
}

#controls .toggle {
  position: absolute;
  top: 50%;
  right: 0.5em;

  height: 0;
  width: 0;

  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 20px solid #ddd;
  border-left: none;
}

#controls .toggle:hover {
  border-right-color: #555;
}

#controls.hidden .toggle {
  border-left: 20px solid #ddd;
  border-right: none;
}

#controls.hidden .toggle:hover {
  border-left-color: #555;
}

#controls header {
  border-bottom: 1px solid #ddd;
  font-family: Georgia, serif;
  font-size: 1.5em;
  line-height: 1.5em;
}

#controls section {
  margin-top: 1em;
}



#controls input {
  background: #fff;
  border: 1px solid #ddd;
  padding: 0.3em;
  margin-top: 1em;
  font-family: inherit;
  font-size: inherit;
  width: 100%;
}

#controls .button {
  position: relative;
  color: #fff;
  text-decoration: none;
  background-color: #64A8A6;
  font-family: inherit;
  font-size: inherit;
  display: block;
  padding: 4px;
  border: 1px solid #3D7270;
  -webkit-box-shadow: 1px 1px 1px #4E8381, 2px 2px 1px #4E8381, 3px 3px 1px #4E8381, 4px 4px 1px #4E8381, 5px 5px 1px #4E8381, 6px 6px 1px #4E8381;
  -moz-box-shadow: 1px 1px 1px #4E8381, 2px 2px 1px #4E8381, 3px 3px 1px #4E8381, 4px 4px 1px #4E8381, 5px 5px 1px #4E8381, 6px 6px 1px #4E8381;
  box-shadow: 1px 1px 1px #4E8381, 2px 2px 1px #4E8381, 3px 3px 1px #4E8381, 4px 4px 1px #4E8381, 5px 5px 1px #4E8381, 6px 6px 1px #4E8381;
  margin: 1em auto;
  width: 70%;
  text-align: center;
  
  -webkit-transition: all .1s ease;
  -moz-transition: all .1s ease;
  -ms-transition: all .1s ease;
  -o-transition: all .1s ease;
  transition: all .1s ease;
}

#controls .button:active {
  -webkit-box-shadow: 1px 1px 1px #4E8381;
  -moz-box-shadow: 1px 1px 1px #4E8381;
  box-shadow: 1px 1px 1px #4E8381;
  top: 5px;
  left: 5px;
}

#controls .button.cancel {
  background-color: #E65440;
  border-color: #A53C2E;
  -webkit-box-shadow: 1px 1px 1px #B24132, 2px 2px 1px #B24132, 3px 3px 1px #B24132, 4px 4px 1px #B24132, 5px 5px 1px #B24132, 6px 6px 1px #B24132;
  -moz-box-shadow: 1px 1px 1px #B24132, 2px 2px 1px #B24132, 3px 3px 1px #B24132, 4px 4px 1px #B24132, 5px 5px 1px #B24132, 6px 6px 1px #B24132;
  box-shadow: 1px 1px 1px #B24132, 2px 2px 1px #B24132, 3px 3px 1px #B24132, 4px 4px 1px #B24132, 5px 5px 1px #B24132, 6px 6px 1px #B24132;
}

#controls .button.cancel:active {
  -webkit-box-shadow: 1px 1px 1px #B24132;
  -moz-box-shadow: 1px 1px 1px #B24132;
  box-shadow: 1px 1px 1px #B24132;
}