html
  head
    link(href="/remote/styles/client.css", rel='stylesheet')
  body

    // button: get position
    button.get-current-position getCurrentPosition

    // button: continiously get position
    button.watch-position watchPosition

    // the no-embed/standalone version of the test index.html has to have the fake-navigator and debug script directly included

    script(src='http://js.pusher.com/2.1/pusher.min.js')
    script(src="/remote/scripts/remote-config.js")
    script(src="/remote/scripts/fake-navigator.js")
    script(src="/remote/scripts/client-scripts.js")
