// Footer
footer

// copy:remote
script(src='scripts/vendor/jquery/jquery.js')
script(src='scripts/vendor/lodash/lodash.js')

script(src='scripts/vendor/fishbone.js')
script(src='scripts/vendor/socket.io.min.js')

script(src='scripts/remote-controls.js')
script(src='scripts/remote-route.js')
script(src='scripts/remote-map.js')
script(src='scripts/remote-pois.js')
script(src='scripts/remote-app.js')

// endcopy