// Footer
footer

script(src='scripts/vendor/jquery.js')
script(src='scripts/vendor/lodash.js')

script(src='scripts/vendor/fishbone.js')
script(src='http://js.pusher.com/2.1/pusher.min.js')

script(src='scripts/remote-controls.js')
script(src='scripts/remote-route.js')
script(src='scripts/remote-map.js')
script(src='scripts/remote-pois.js')
script(src='scripts/remote-app.js')
script(src='scripts/remote-webapp.js')
script(src='scripts/remote-log.js')
script(src='scripts/remote-comm.js')
script(src='scripts/remote-config.js')
script(src='scripts/main.js')