// Footer
footer

// build:js scripts/main.js

script(src='bower_components/jquery/jquery.js')
script(src='bower_components/lodash/lodash.js')

script(src='scripts/vendor/fishbone.js')

script(src='scripts/remote-geolocation.js')
script(src='scripts/remote-controls.js')
script(src='scripts/remote-route.js')
script(src='scripts/remote-map.js')
script(src='scripts/remote-pois.js')
script(src='scripts/remote-app.js')

// for dev

script(src='scripts/vendor/socket.io.min.js')

// endbuild